@using EasyTravel.Domain.Entites
@model Hotel

@{
    ViewData["Title"] = "Details";
}


<div class="main">
    <div class="hotel-info">
        <div class="left">
            <img class="logo" src="https://www.logodesign.net/logo/buildings-with-house-roof-and-sun-778ld.png?nwm=1&nws=1&industry=hotel&sf=&txt_keyword=All" alt="">
        </div>
        <div class="mid">
            <h2 class="name">@Model.Name                   </h2>
            <p>   <i class="bi bi-geo-alt-fill"></i>    @Model.Address </p>
            <p><i class="bi bi-telephone"></i>  @Model.Phone</p>

        </div>
        <div class="right">
            <h3>  @Model.Rating </h3>
            @await Html.PartialAsync("_Rating", Model.Rating)
        </div>

    </div>
    <div class="cover-photo"> <img src="@Model.Image"> </div>
    <p> Your comfort here  </p>
    <div class="section">
        <h2>Description</h2>
       <p> @Model.Description </p>
    </div>
    <div>
        <h2>Rooms</h2>
        <p> All List of Rooms  </p>

    </div>
    <div>
        <h2>Contact</h2>
        <p> <span>Mobile :</span> 01867210892 </p>
        <p> <span>email :</span> cse@gmail.com </p>
        <p>   <i class="bi bi-geo-alt-fill"></i>    Cumilla Jhawtola , Cumilla </p>
        <p><i class="bi bi-house"></i> Comilla</p>


    </div>
</div> 
